<% provide(:title, 'About') %>

<div class="page-header">
	<h2>About me</h2>
</div>

<div class="row">
	<div class="col-md-4">
		<img src="/images/google-n-me.jpg" alt="During Google Partner Event in Malaysia" width="280" class="img-rounded">
	</div>
	<div class="col-md-8">
		<p>Hey, my name is Amirol Ahmad, Software Engineer and Rubyst Developer. Currently I working at <a href ="http://says.com/">Says.com</a> as a Software Developer. I love programming and networking so much. Sometimes I like to call myself as Open Source Developer, where I like to contribute my skills and my knowledge in any open source product such as Joomla, Mozilla etc. Been involved & active in mobile apps development based on iOS (Apple Developer) and Android (Google Developer).</p>
		<p>My hobby is swimming and watching movies with my family. Oh ya. I am a husband of 1 and father of 1. I'm running my own company which is called Osem Network Enterprise where we are building web application, mobile application, freelance job such system development mostly for government and startup company.</p>
		<p>If you want to know more about me, do follow me on my social network. No worries, I'm very happy go lucky person and very friendly.</p>
	</div>
</div>

<hr>